{% extends "./base.html" %}
板块:{{ column_obj.name}}; 管理员:{{ column_obj.manager }}; 帖子:{{column_obj.post_number}}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/columns.css">
{%endblock%}
{% block content %}
<div class="wrap">

      <!-- Diy area start -->


      <!-- End -->

      <!-- Banner start -->
      <!-- end -->

      <!-- text start -->
      <div class="box" float = "left" width="1000px">


            <!-- End -->

            <!-- text theme list start -->
            <div class="list" id="threadlist" style="position: relative;">
                  <script src="/static/js/forum_moderate.js" type="text/javascript"></script>
                  <form method="post" autocomplete="off" name="moderate" id="moderate" action="">
                        {%csrf_token %}
                        <input type="hidden" name="formhash" value="31213a3e">
                        <input type="hidden" name="listextra" value="">
                        <table width="100%">
                              <tbody>
                                    <tr id="column">
                                          <td width="auto" valign="middle" class="mainbox">
                                                <div class="title-link-col">
                                                      <a class="title-link-col" href="{{ column.get_absolute_url }}" rel="bookmark" title="">{{ column_obj.name }}</a>
                                                </div>
                                                <div class="status-col">
                                                      <div class="manager-col">管理员: {{ column_obj.manager }}</div>
                                                      <div class="post-number-col">帖子: {{ column_obj.post_number }}</div>
                                                </div>
                                          </td>
                                    </tr>
                              </tbody>
                        </table>
                        <!-- {% if column_posts %} -->
                        {% for post in column_posts %}
                        <table width="100%">
                              <tbody>
                                    <tr id="post">
                                          <td width="10%" class="avatar" valign="middle">
                                                <a href="{{ post.get_absolute_url }}" title="">
                                                      <img src="{{ post.author.avatar.url }}">
                                                </a>
                                          </td>
                                          <td width="auto" valign="middle" class="mainbox">
                                                <div class="title">
                                                      <a class="title" href="{{ post.get_absolute_url }}" rel="bookmark"
                                                            title="">{{ post.title }}</a>
                                                </div>
                                                <div class="status">
                                                      <div class="cate"><a href="{{ post.column.get_absolute_url }}"
                                                                  target="_blank">{{ post.column }}</a></div>
                                                      <span>•</span>
                                                      <div class="date"><span title="">发表于:{{ post.created_at|date:"Y-m-d H:i:s" }};</span></div>
                                                      <span>•</span>
                                                      <div class="author">{{ post.author }}</div>
                                                      <span>•</span>

                                                      <div class="lastreply">
                                                            <a href="" target="_blank" title="1 分钟前"> {{post.last_response }} 最后回复</a>
                                                      </div>

                                                </div>
                                          </td>
                                          <td width="11%" align="right" valign="middle" class="reply">
                                                {{ post.responce_times }}/{{ post.view_times}} 
                                          </td>
                                    </tr>
                              </tbody>
                        </table>
                        {% endfor %}
                        <!-- {% endif %} -->
                  </div>
                  <!-- End -->
                  
                  <!-- Page start -->
                  <div class="pages clearfix">
                  <div class="backhome" id="visitedforumstmp" onMouseOver="$(&#39;visitedforums&#39;).id = &#39;visitedforumstmp&#39;;this.id = &#39;visitedforums&#39;;showMenu({&#39;ctrlid&#39;:this.id,&#39;pos&#39;:&#39;21&#39;})"><a href="/">返&nbsp;回</a></div>
                  
                  <ul class="num"> <?php pagenavi(); ?></ul>    
                  </div>
                  <!-- End -->
                  </div>
                  </form>
            </div>      
      </div>
{% endblock %}
