
{% extends "./base.html" %}
{%block css%}
<link rel="stylesheet" type="text/css" href="/static/css/userpage.css">
{%endblock%}
{%block announcement%}
{%endblock%}
{%block subnav%}
{%endblock%}

{%block content%}
{% if not user.is_authenticated %}
请先登录<a href="{% url 'user_login' %}" hidefocus="true" title="登陆">登陆</a>
还没有账号？<a href="{% url 'user_register' %}" hidefocus="true" title="注册">点这里注册</a>
{%else%}
<img src="{{user.avatar}}" alt="avatar" class ="avatar-container rounded-circle" id="user-avatar" title="更改头像"> 
<a href="{% url 'delete_account'%}" hidefocus = "true" title="delete_account">注销账户</a>
<a href="{% url 'user_logout'%}" hidefocus="true" title="logout">退出登录</a>


{%endif%}
{%endblock%}

{%block pagefoot%}
{%endblock%}