
{% extends "./base.html" %}
{% load static %}
{%block css%}
<link rel="stylesheet" type="text/css" href="/static/css/userpage.css">
<!-- 引用外部 JavaScript 文件 -->
<script>
function openModal() {
    document.getElementById("change_avatar").style.display = "block";
}

function closeModal() {
    document.getElementById("change_avatar").style.display = "none";
}

window.onclick = function(event) {
    var modal = document.getElementById("change_avatar");
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
function previewAvatar(input) {
    const preview = document.getElementById("avatar-preview-img");
    const file = input.files[0];
    if (file && file.type.startsWith("image/")) {
        const reader = new FileReader();
        reader.onload = function (e) {
            preview.src = e.target.result;  // 更新预览图片的 src
        };
        reader.readAsDataURL(file);
    }
}
function updateAvatar() {
    const formData = new FormData(document.getElementById("avatar-form"));
    fetch("{% url 'update_avatar' %}", {  // 使用新视图的 URL
        method: "POST",
        body: formData,
        headers: {
            'X-CSRFToken': csrfToken,  // 添加 CSRF Token
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error("服务器响应非 2xx 状态");
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            alert("头像更新成功！");
            location.reload();  // 重新加载页面以更新头像显示
        } else {
            alert("更新头像失败，请重试。");
        }
    })
    .catch(error => {
        console.error("更新头像时出错：", error);
        alert("更新头像时出错，请检查服务器日志。");
    });
}
function openOffcanvas() {
    document.getElementById("offcanvas-friends").style.left = "0";
}

function closeOffcanvas() {
    document.getElementById("offcanvas-friends").style.left = "-100%";
}
function showTab(tabId, sectionClass) {
    // 隐藏所有的 tab-content 属于该部分的内容
    const contents = document.querySelectorAll(`.${sectionClass} .tab-content`);
    contents.forEach(content => content.style.display = 'none');
    // 显示选中的 tab-content
    document.getElementById(tabId).style.display = 'block';
}

function openMessageSidebar() {
    const sidebar = document.getElementById("messageSidebar");
    sidebar.style.display = "block"; /* Make the sidebar visible */
    sidebar.style.width = "400px"; /* Adjust the width as needed */
}

function closeMessageSidebar() {
    const sidebar = document.getElementById("messageSidebar");
    sidebar.style.width = "0"; /* Collapse the sidebar */
    setTimeout(() => {
        sidebar.style.display = "none"; /* Hide the sidebar after collapsing */
    }, 500); /* Match the duration of the transition */
}
function toggleOffcanvas() {
    const offcanvas = document.getElementById("offcanvas-friends");
    if (offcanvas.style.left === "0px") {
        offcanvas.style.left = "-100%"; // 关闭侧边栏
    } else {
        offcanvas.style.left = "0"; // 打开侧边栏
    }
}

function toggleMessageSidebar() {
    const sidebar = document.getElementById("messageSidebar");
    if (sidebar.style.display === "block") {
        sidebar.style.width = "0"; // 收起侧边栏
        setTimeout(() => {
            sidebar.style.display = "none"; // 隐藏侧边栏
        }, 500); // 与过渡时间匹配
    } else {
        sidebar.style.display = "block"; // 显示侧边栏
        sidebar.style.width = "400px"; // 调整宽度
    }
}

    // 切换标签内容
function showmsgTab(tabId) {
            // 隐藏所有的 tab-content
    const contents = document.querySelectorAll('.tab-content');
    contents.forEach(content => content.style.display = 'none');

    // 显示选中的 tab-content
    document.getElementById(tabId).style.display = 'block';
}

    // 处理好友请求
    function handleFriendRequest(noticeId, action) {
        // 用户确认操作后，发送请求到服务器
        const popupMessage = action === 1 ? '已添加好友' : '已拒绝请求';

        // 发送请求到服务器（示例 AJAX 请求）
        fetch(`/user/friend/${noticeId}/${action}/`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => {
            if (response.ok) {
                alert(popupMessage); // 显示提示消息
                location.reload(); // 刷新页面
            } else {
                alert('操作失败，请重试。');
            }
        })
        .catch(error => console.error('Error:', error));
    }
    function toggleTab(tabId, sectionClass) {
        const contents = document.querySelectorAll(`.${sectionClass} .tab-content`);
        contents.forEach(content => content.style.display = 'none');
        const selectedTab = document.getElementById(tabId);
        selectedTab.style.display = (selectedTab.style.display === 'block') ? 'none' : 'block';
    }
function toggleContent(contentId) {
    const content = document.getElementById(contentId);

    // 检查内容是否已经显示
    if (content.style.display === "none" || content.style.display === "") {
        content.style.display = "block"; // 显示内容
    } else {
        content.style.display = "none"; // 隐藏内容
    }
}
function markAllAsRead(type) {
        // 使用 Fetch API 发送一个请求，将指定 type 的消息标记为已读
        fetch("{% url 'mark_all_as_read' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ type: type })
        })
        .then(response => {
            if (response.ok) {
                // 刷新私信内容
                location.reload();
            } else {
                alert('操作失败，请重试。');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('操作失败，请重试。');
        });
    }
// 函数用于获取消息详情并打开模态窗口
function showMessageDetail(noticeId) {
    closeMessageSidebar();
    closeOffcanvas();
    fetch(`/user/notices/${noticeId}/`)
        .then(response => response.json())
        .then(data => {
            // 填充模态窗口内容
            document.getElementById('messageSender').innerText = `发送者: ${data.sender}`;
            document.getElementById('messageContent').innerHTML = data.content;
            document.getElementById('messageDate').innerText = `发送时间: ${data.created_at}`;

            // 设置“回复消息”链接的 href
            document.getElementById('replyMessageLink').href = `/user/message/sendto/${data.sender_id}/`;

            // 显示模态窗口
            document.getElementById('messageModal').style.display = 'block';

            // 发送请求将该条消息设为已读
            fetch(`/user/notices/${noticeId}/mark-as-read/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCSRFToken(), // 确保传递 CSRF 令牌
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (!response.ok) {
                    console.error('Failed to mark message as read');
                }
            }).catch(error => console.error('Error:', error));
        })
        .catch(error => console.error('Error:', error));
}

    // 函数用于关闭模态窗口
function closemsgModal() {
        document.getElementById('messageModal').style.display = 'none';
        location.reload();
    }
function handleNoticeClick(event, noticeId, noticeType) {
    // 检查通知类型
    if (noticeType === 1) {
        // 如果是消息通知，阻止默认的链接跳转
        event.preventDefault();
        
        // 调用函数显示消息详情模态窗口
        showMessageDetail(noticeId);
    }
    // 如果是其他类型（如评论通知），不阻止默认行为，正常跳转
}

</script>

{%endblock%}
{%block announcement%}
{%endblock%}
{%block subnav%}
{%endblock%}
{%block user %} 

<ul class="user floatr">
{% if not user.is_authenticated %}
<li id="mn_portal"><a href="{% url 'user_login' %}" hidefocus="true" title="登陆">登陆</a></li>
<li class="a" id="mn_forum"><a href="{% url 'user_register' %}" hidefocus="true" title="注册">注册</a></li>
{%else%}
<li id="mn_portal"><a href="{% url 'show_notice' %}" hidefocus="true" title="消息">{{user.username}}</a></li>
<li id="mn_portal"><a href="{% url 'user_logout'%}" hidefocus="true" title="注销">退出登录</a></li>
<li id="mn_portal"><a href="{% url 'delete_account'%}" hidefocus = "true" title="delete_account">注销账户</a></li>
<li id="mn_portal"><a href="{% url 'change_password'%}" hidefocus = "true" title="change_password">修改密码</a></li>
{% endif %}

</ul>

{% endblock %}
{%block content%}
<div class="wrap">
    <div  class="box" float = "left" width="1000px" height="auto" style="padding: 20px;" >
        <div class="user-info-container">
            <!--
            {% if not user.is_authenticated %}
            请先登录<a href="{% url 'user_login' %}" hidefocus="true" title="登陆">登陆</a>
            还没有账号？<a href="{% url 'user_register' %}" hidefocus="true" title="注册">点这里注册</a>
            {%else%}
            -->
            <img src="{{user.avatar.url}}" alt="avatar" class ="avatar-container rounded-circle" id="user-avatar" title="更改头像" onclick="openModal()"> 
            {% load static %}
            
            <!-- 模态窗口 -->
            <div id="change_avatar" class="modal">
                <div class="modal-content">
                    <!-- 模态头部 -->
                    <div class="modal-header">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2>更改头像</h2>
                    </div>
                    
                    <!-- 模态主体内容 -->
                    <div class="modal-body">
                        <p>在这里上传您的新头像:</p>
                        
                        <!-- 显示用户的头像，如果用户没有头像，显示默认头像 -->
                        <div class="avatar-preview">
                            <img id="avatar-preview-img" src="{{ user.avatar.url }}" alt="预览头像" style="width: 200px; height: 200px;">
                        </div>
            
                        <!-- 上传头像表单 -->
                        <form id="avatar-form" action="{% url 'update_avatar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="avatar-input" name="avatar" accept="image/*" required onchange="previewAvatar(this)">
                            
                            <!-- 按钮容器 -->
                            <div class="button-container">
                                <button type="button" class="btn-cancel " onclick="closeModal()">取消</button>
                                <button type="submit" class="btn-submit ">上传</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <div class="user-details">
                    <p class="username">
                        <a href="{% url 'show_notice' %}" style="text-decoration: none; color: inherit;">
                            {{ user.username }}
                        </a>
                    </p>
                    <p class="user-email">{{ user.email }}</p>
                    <p class="user-levels">积分: {{ user.levels }}</p>
                    <div class="button-group-up">
                        <button class="btn-friends" onclick="toggleOffcanvas()">好友列表</button>
                        <button class="btn-messages" onclick="toggleMessageSidebar()">消息列表</button>
                    </div>
                    <p class="write-post">
                        <a href="{% url 'post_create' %}" style="text-decoration: none; color: #454e57;">
                            写帖子
                        </a>
                    </p>
                </div>
                <!-- Offcanvas 结构 -->
<div id="offcanvas-friends" class="offcanvas">
    <div class="offcanvas-content">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">好友列表</h1>
            <span class="close-btn" onclick="closeOffcanvas()">&times;</span>
        </div>
        <ul class="friends-list">
            {% for friend in friends %}
                <li class="friend-item">
                    <img src="{{ friend.avatar.url }}" alt="{{ friend.username }}的头像" class="friend-avatar">
                    <div class="friend-details">
                        <p class="friend-username">{{ friend.username }}</p>
                        <p class="friend-email">{{ friend.email }}</p>
                        <p class="friend-levels">积分: {{ friend.levels }}</p>
                        <p class="sd-msg"><a href="{% url 'send_message' friend.id %}">发送消息</a></p> 
                        <a href="#" class="remove-friend-btn" onclick="confirmRemoveFriend('{{ friend.id }}')">删除好友</a>

<script>
    function confirmRemoveFriend(friendId) {
        if (confirm("确定要删除该好友吗？")) {
            window.location.href = `/user/remove_friend/${friendId}/`;
        }
    }
</script>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="messageSidebar" class="sidebar">
    <div class="sidebar-header">
        <span class="close-btn" onclick="closeMessageSidebar()">&times;</span>
        <h2>消息列表</h2>
    </div>

    <!-- 未读消息块 -->
    <div class="unread-messages">
        <p class="msg-type" onclick="toggleContent('unread-content')">未读消息</p>
        <div id="unread-content" class="content" style="display: block;">
            <div class="message-sec"> 
                <div class="message-tabs">
                    <button onclick="showTab('private-messages', 'message-sec')">私信{% if unread_msg_count != 0 %}({{unread_msg_count}}){% endif %}</button>
                    <button onclick="showTab('replies', 'message-sec')">回复我的{% if reply_msg_count != 0 %}({{reply_msg_count}}){% endif %}</button>
                    <button onclick="showTab('friend-requests', 'message-sec')">好友请求{% if friend_msg_count != 0 %}({{friend_msg_count}}){% endif %}</button>
                </div>
    
                <div class="sidebar-content">
                    <!-- 私信内容 -->
                    <div id="private-messages" class="tab-content">
                            {% for notice in notice_list %}
                                {% if notice.type == 1%}
                                    <div class="notice-item">
                                        <a class="notice-link" href="{% url 'notice_detail' notice.pk %}" onclick="handleNoticeClick(event, {{ notice.pk }}, {{ notice.type }})">{{ notice }}</a>
                                    </div>
                                    <hr>
                                    {% endif %}
                            {% endfor %}
                            {% if unread_msg_count == 0 %}
                                <p class="no-notices">暂无私信。</p>
                            {%else%}
                            <button class="mark-all-read-btn" onclick="markAllAsRead(1)">一键已读</button>
                            {% endif %}
                    </div>
    
                    <!-- 回复我的内容 -->
                    <div id="replies" class="tab-content" style="display: none;">
                            {% for notice in notice_list %}
                                {% if notice.type == 0%}
                                    <div class="notice-item">
                                        <a class="notice-link" href="{% url 'notice_detail' notice.pk %}" onclick="handleNoticeClick(event, {{ notice.pk }}, {{ notice.type }})">{{ notice }}</a>
                                    </div>
                                    <hr>
                                {%endif%}
                            {% endfor %}
    
                            {% if  reply_msg_count == 0  %}
                                <p class="no-notices">暂时没有收到任何回复。</p>
                                {%else%}
                                <button class="mark-all-read-btn" onclick="markAllAsRead(0)">一键已读</button>
                                {% endif %}
                    </div>
    
                    <!-- 好友请求内容 -->
                    <div id="friend-requests" class="tab-content" style="display: none;">
                            {% for notice in notice_list %}
                                {% if notice.type == 2%}
                                    <div class="notice-item">
                                        <p class="notice-text">{{ notice }}</p>
                                        <div class="notice-actions">
                                            <a class="notice-link agree" href="#" onclick="handleFriendRequest({{ notice.pk }}, 1)">同意</a> |
                                            <a class="notice-link decline" href="#" onclick="handleFriendRequest({{ notice.pk }}, 2)">拒绝</a>
                                        </div>
                                    </div>
                                    <hr>
                                {%endif%}
                            {% endfor %}
    
                            {% if friend_msg_count == 0 %}
                                <p class="no-notices">暂无好友请求。</p>
                            {% endif %}
                    </div>

                </div>
            </div>
        </div>
    
        </div>
       
        <p class="msg-type" onclick="toggleContent('all-content')">全部消息</p>
        <div id="all-content" class="content" style="display: none;">
            <!-- 全部消息块 -->
    <div class="all-messages">
        <div class="sidebar-content">
            {% for notice in notice_list_all %}
                {%if notice.type == 2%}
                <p class="notice-link" style=" text-decoration-line: none; color: black">{{ notice }}</p>
                {%else%}
                <div class="notice-item">
                    <a class="notice-link" href="{% url 'notice_detail' notice.pk %}" onclick="handleNoticeClick(event, {{ notice.pk }}, {{ notice.type }})">{{ notice }}</a>
                </div>
                <hr>
                {%endif%}
            {% empty %}
                <p class="no-notices">暂无消息。</p>
            {% endfor %}
        </div>
    </div>
        </div>
        <p class="msg-type" onclick="toggleContent('sent-content')">已发消息</p>
        <div id="sent-content" class="content" style="display: none;">
             <!-- 已发消息块 -->
    <div class="sent-messages">
        <div class="sidebar-content">
            {% for notice in notice_list_send %}
            {%if notice.type == 2%}
            <div class="notice-item">
                <p class="notice-link" style=" text-decoration-line: none; color: black">{{ notice }}</p>
            </div>
            <hr>
            {%else%}
                <div class="notice-item">
                    <a class="notice-link" href="{% url 'notice_detail' notice.pk %}" onclick="handleNoticeClick(event, {{ notice.pk }}, {{ notice.type }})">{{ notice }}</a>
                </div>
                <hr>
            {%endif%}
            {% empty %}
                <p class="no-notices">暂无已发消息。</p>
            {% endfor %}
        </div>
    </div>
</div>
        </div>   

        <div id="messageModal" class="modal" style="display: none;">
            <div class="modal-content" style="width: 70%; height: 70%;">
                <div class="modal-header">
                    <span class="close" onclick="closemsgModal()">&times;</span>
                    <h2>消息详情</h2>
                </div>
                <div class="modal-body">
                    <p id="messageSender" style="margin: 10px;"></p>
                        <div id="messageContent" class="message-content">
                            {% autoescape off %}
                                {{ message.content|linebreaks }}
                            {% endautoescape %}
                        </div>
                    <p id="messageDate" style="margin: 10px; margin-top: 30px;"></p>
                    <a id="replyMessageLink" href="#" class="send-message-link">回复消息</a>
                </div>
            </div>
        </div>
        </div>
        <div class="post-sec">
          <div class="tabs-container">
            <div class="tabs-header">
                <h2 class="post-header" onclick="showTab('posts','post-sec')" style="cursor: pointer; display:block;">我的发帖</h2>
                <h2 class="post-header" onclick="showTab('likes','post-sec')" style="cursor: pointer;">我的收藏</h2>
            </div>
        
            <div id="posts" class="tab-content" style="display: block;">
                {% block user_post %}
                {% if user_posts %}
                    {% for post in user_posts %}
                    <table class="post-table">
                        <tbody>
                            <tr id="post">
                                <td class="avatar" valign="middle">
                                    <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                        <img src="{{ post.author.avatar.url }}" alt="{{ post.author }}" class="avatar-img">
                                    </a>
                                </td>
                                <td class="mainbox" valign="middle">
                                    <div class="title">
                                        <a href="{{ post.get_absolute_url }}" class="post-title" rel="bookmark">{{ post.title }}</a>
                                    </div>
                                    <div class="status">
                                        <div class="cate">
                                            <a href="{{ post.column.get_absolute_url }}" target="_blank">{{ post.column }}</a>
                                        </div>
                                        <span class="separator">•</span>
                                        <div class="date">
                                            <span title="">{{ post.created_at|date:"Y-m-d H:i:s" }}</span>
                                        </div>
                                        <span class="separator">•</span>
                                        <div class="author">{{ post.author }}</div>
                                        <span class="separator">•</span>
                                        <div class="lastreply">
                                            {{ post.last_response }} 最后回复
                                        </div>
                                        <div class="edit-link">
                                            <a href="{% url 'post_update' post.id %}">修改</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="reply" align="right" valign="middle">
                                    <p class="reply-count">{{ post.responce_times }}/{{ post.view_times }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                {% else %}
                    <p>您还没有发布任何帖子。</p>
                {% endif %}
                {% endblock %}
            </div>
        
            <div id="likes" class="tab-content" style="display: none;">
                {% block user_likes %}
                {% if like_posts %}
                    {% for post in like_posts %}
                    <table class="post-table">
                        <tbody>
                            <tr id="post">
                                <td class="avatar" valign="middle">
                                    <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                        <img src="{{ post.author.avatar.url }}" alt="{{ post.author }}" class="avatar-img">
                                    </a>
                                </td>
                                <td class="mainbox" valign="middle">
                                    <div class="title">
                                        <a href="{{ post.get_absolute_url }}" class="post-title" rel="bookmark">{{ post.title }}</a>
                                    </div>
                                    <div class="status">
                                        <div class="cate">
                                            <a href="{{ post.column.get_absolute_url }}" target="_blank">{{ post.column }}</a>
                                        </div>
                                        <span class="separator">•</span>
                                        <div class="date">
                                            <span title="">{{ post.created_at|date:"Y-m-d H:i:s" }}</span>
                                        </div>
                                        <span class="separator">•</span>
                                        <div class="author">{{ post.author }}</div>
                                        <span class="separator">•</span>
                                        <div class="lastreply">
                                            {{ post.last_response }} 最后回复
                                        </div>
                                    </div>
                                </td>
                                <td class="reply" align="right" valign="middle">
                                    <p class="reply-count">{{ post.responce_times }}/{{ post.view_times }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                {% else %}
                    <p>您还没有收藏任何帖子。</p>
                {% endif %}
                {% endblock %}
            </div>
        </div>  
        </div>
        
</div>

{%endif%}
{%endblock%}

{%block pagefoot%}
{%endblock%}


