
{% extends "./base.html" %}
{% load static %}
{%block css%}
<link rel="stylesheet" type="text/css" href="/static/css/userpage.css">
<!-- 引用外部 JavaScript 文件 -->
<script>
function openModal() {
    document.getElementById("change_avatar").style.display = "block";
}

function closeModal() {
    document.getElementById("change_avatar").style.display = "none";
}

window.onclick = function(event) {
    var modal = document.getElementById("change_avatar");
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
function previewAvatar(input) {
    const preview = document.getElementById("avatar-preview-img");
    const file = input.files[0];
    if (file && file.type.startsWith("image/")) {
        const reader = new FileReader();
        reader.onload = function (e) {
            preview.src = e.target.result;  // 更新预览图片的 src
        };
        reader.readAsDataURL(file);
    }
}
function updateAvatar() {
    const formData = new FormData(document.getElementById("avatar-form"));
    fetch("{% url 'update_avatar' %}", {  // 使用新视图的 URL
        method: "POST",
        body: formData,
        headers: {
            'X-CSRFToken': csrfToken,  // 添加 CSRF Token
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error("服务器响应非 2xx 状态");
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            alert("头像更新成功！");
            location.reload();  // 重新加载页面以更新头像显示
        } else {
            alert("更新头像失败，请重试。");
        }
    })
    .catch(error => {
        console.error("更新头像时出错：", error);
        alert("更新头像时出错，请检查服务器日志。");
    });
}
function openOffcanvas() {
    document.getElementById("offcanvas-friends").style.left = "0";
}

function closeOffcanvas() {
    document.getElementById("offcanvas-friends").style.left = "-100%";
}
function showTab(tabId) {
    // 隐藏所有的 tab-content
    const contents = document.querySelectorAll('.tab-content');
    contents.forEach(content => content.style.display = 'none');

    // 显示选中的 tab-content
    document.getElementById(tabId).style.display = 'block';
}
</script>

{%endblock%}
{%block announcement%}
{%endblock%}
{%block subnav%}
{%endblock%}
{%block user %} 

<ul class="user floatr">
{% if not user.is_authenticated %}
<li id="mn_portal"><a href="{% url 'user_login' %}" hidefocus="true" title="登陆">登陆</a></li>
<li class="a" id="mn_forum"><a href="{% url 'user_register' %}" hidefocus="true" title="注册">注册</a></li>
{%else%}
<li id="mn_portal"><a href="{% url 'show_notice' %}" hidefocus="true" title="消息">{{user.username}}</a></li>
<li id="mn_portal"><a href="{% url 'user_logout'%}" hidefocus="true" title="注销">退出登录</a></li>
<li id="mn_portal"><a href="{% url 'delete_account'%}" hidefocus = "true" title="delete_account">注销账户</a></li>
<li id="mn_portal"><a href="{% url 'change_password'%}" hidefocus = "true" title="change_password">修改密码</a></li>
{% endif %}

</ul>

{% endblock %}
{%block content%}
<div class="wrap">
    <div  class="box" float = "left" width="1000px" height="auto" style="padding: 20px;" >
        <div class="user-info-container">
            <!--
            {% if not user.is_authenticated %}
            请先登录<a href="{% url 'user_login' %}" hidefocus="true" title="登陆">登陆</a>
            还没有账号？<a href="{% url 'user_register' %}" hidefocus="true" title="注册">点这里注册</a>
            {%else%}
            -->
            <img src="{{user.avatar.url}}" alt="avatar" class ="avatar-container rounded-circle" id="user-avatar" title="更改头像" onclick="openModal()"> 
            {% load static %}
            
            <!-- 模态窗口 -->
            <div id="change_avatar" class="modal">
                <div class="modal-content">
                    <!-- 模态头部 -->
                    <div class="modal-header">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2>更改头像</h2>
                    </div>
                    
                    <!-- 模态主体内容 -->
                    <div class="modal-body">
                        <p>在这里上传您的新头像:</p>
                        
                        <!-- 显示用户的头像，如果用户没有头像，显示默认头像 -->
                        <div class="avatar-preview">
                            <img id="avatar-preview-img" src="{{ user.avatar.url }}" alt="预览头像" style="width: 200px; height: 200px;">
                        </div>
            
                        <!-- 上传头像表单 -->
                        <form id="avatar-form" action="{% url 'update_avatar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="avatar-input" name="avatar" accept="image/*" required onchange="previewAvatar(this)">
                            
                            <!-- 按钮容器 -->
                            <div class="button-container">
                                <button type="button" class="btn-cancel " onclick="closeModal()">取消</button>
                                <button type="submit" class="btn-submit ">上传</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <div class="user-details">
                    <p class="username">
                        <a href="{% url 'show_notice' %}" style="text-decoration: none; color: inherit;">
                            {{ user.username }}
                        </a>
                    </p>
                    <p class="user-email">{{ user.email }}</p>
                    <p class="user-levels">积分: {{ user.levels }}</p>
                    <div class="button-group-up">
                        <button class="btn-friends" onclick="openOffcanvas()">好友列表</button>
                        <button class="btn-messages" onclick="">消息列表</button>
                    </div>
                    <p class="write-post">
                        <a href="{% url 'post_create' %}" style="text-decoration: none; color: #454e57;">
                            写帖子
                        </a>
                    </p>
                </div>
                <!-- Offcanvas 结构 -->
<div id="offcanvas-friends" class="offcanvas">
    <div class="offcanvas-content">
        <span class="close-btn" onclick="closeOffcanvas()">&times;</span>
        <h2>好友列表</h2>
        <ul class="friends-list">
            {% for friend in friends %}
                <li class="friend-item">
                    <img src="{{ friend.avatar.url }}" alt="{{ friend.username }}的头像" class="friend-avatar">
                    <div class="friend-details">
                        <p class="friend-username">{{ friend.username }}</p>
                        <p class="friend-email">{{ friend.email }}</p>
                        <p class="friend-levels">积分: {{ friend.levels }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

        </div>
        <div class="tabs-container">
            <div class="tabs-header">
                <h2 class="post-header" onclick="showTab('posts')" style="cursor: pointer;">我的发帖</h2>
                <h2 class="post-header" onclick="showTab('likes')" style="cursor: pointer;">我的收藏</h2>
            </div>
        
            <div id="posts" class="tab-content">
                {% block user_post %}
                {% if user_posts %}
                    {% for post in user_posts %}
                    <table class="post-table">
                        <tbody>
                            <tr id="post">
                                <td class="avatar" valign="middle">
                                    <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                        <img src="{{ post.author.avatar.url }}" alt="{{ post.author }}" class="avatar-img">
                                    </a>
                                </td>
                                <td class="mainbox" valign="middle">
                                    <div class="title">
                                        <a href="{{ post.get_absolute_url }}" class="post-title" rel="bookmark">{{ post.title }}</a>
                                    </div>
                                    <div class="status">
                                        <div class="cate">
                                            <a href="{{ post.column.get_absolute_url }}" target="_blank">{{ post.column }}</a>
                                        </div>
                                        <span class="separator">•</span>
                                        <div class="date">
                                            <span title="">{{ post.created_at|date:"Y-m-d H:i:s" }}</span>
                                        </div>
                                        <span class="separator">•</span>
                                        <div class="author">{{ post.author }}</div>
                                        <span class="separator">•</span>
                                        <div class="lastreply">
                                            {{ post.last_response }} 最后回复
                                        </div>
                                    </div>
                                </td>
                                <td class="reply" align="right" valign="middle">
                                    <a href="" target="_blank" class="reply-count">{{ post.responce_times }}/{{ post.view_times }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                {% else %}
                    <p>您还没有发布任何帖子。</p>
                {% endif %}
                {% endblock %}
            </div>
        
            <div id="likes" class="tab-content" style="display: none;">
                {% block user_likes %}
                {% if like_posts %}
                    {% for post in like_posts %}
                    <table class="post-table">
                        <tbody>
                            <tr id="post">
                                <td class="avatar" valign="middle">
                                    <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                        <img src="{{ post.author.avatar.url }}" alt="{{ post.author }}" class="avatar-img">
                                    </a>
                                </td>
                                <td class="mainbox" valign="middle">
                                    <div class="title">
                                        <a href="{{ post.get_absolute_url }}" class="post-title" rel="bookmark">{{ post.title }}</a>
                                    </div>
                                    <div class="status">
                                        <div class="cate">
                                            <a href="{{ post.column.get_absolute_url }}" target="_blank">{{ post.column }}</a>
                                        </div>
                                        <span class="separator">•</span>
                                        <div class="date">
                                            <span title="">{{ post.created_at|date:"Y-m-d H:i:s" }}</span>
                                        </div>
                                        <span class="separator">•</span>
                                        <div class="author">{{ post.author }}</div>
                                        <span class="separator">•</span>
                                        <div class="lastreply">
                                            {{ post.last_response }} 最后回复
                                        </div>
                                    </div>
                                </td>
                                <td class="reply" align="right" valign="middle">
                                    <a href="" target="_blank" class="reply-count">{{ post.responce_times }}/{{ post.view_times }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                {% else %}
                    <p>您还没有收藏任何帖子。</p>
                {% endif %}
                {% endblock %}
            </div>
        </div>
</div>

{%endif%}
{%endblock%}

{%block pagefoot%}
{%endblock%}


