{% extends "./base.html" %}
{% load friendfilter %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/post_detail.css">
{% endblock %}

{% block athor %}
<!-- 遮窗 Start -->
<div id="popDiv" class="mydiv" style="display:none;">
<textarea id="comment" name="comment" class="form-control" rows="5" cols=35 placeholder="请输入评论 限200字!"></textarea>
<br/>
<a href="javascript:closeDivFun()">评论</a>
</div>
<!-- 遮窗 end -->
{% endblock %}

{% block user %}
<ul class="user floatr">
{% if not user.is_authenticated %}
<li id="mn_portal"><a href="{% url 'user_login' %}" hidefocus="true" title="登陆">登陆</a></li>
<li class="a" id="mn_forum"><a href="{% url 'user_register' %}" hidefocus="true" title="注册">注册</a></li>
{% else %}
<li id="mn_portal"><a href="{% url 'show_notice' %}" hidefocus="true" title="Portal">{{ user.username }}({% if message_number %}{{ message_number }}{% else %}0{% endif %})</a></li>
<li id="mn_portal"><a href="{% url 'user_logout' %}" hidefocus="true" title="Portal">注销</a></li>
{% endif %}
</ul>
{% endblock %}

{% block nav %}
<ul>
<li class="current"><a href="/">首页</a></li>
{% for nav in nav_list %}
<li><a href="/">{{ nav.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block content %}
<div id="all_post">
    <div class="post clearfix"> 
        <div class="avatar_comment" style="margin-bottom: 5%; background-color: white;">
            <img src="{{ post.author.avatar }}" style="display: block; margin-left: auto; margin-right: auto;"><br>
            <div style="font-size: 150%; color:black; text-align: center;">{{ post.author.username }}</div>
            <div style="color:gray; text-align: center;">积分：{{ post.author.levels }}</div>
        </div>
        <div class="content" style="margin-left: 2%; width: 80%; border: 1px black solid; margin-bottom: 5%; min-height: 20em; padding-left: 1%; padding-right: 1%; border-radius: 1em;">
            <span style="color: black; font-size: 2em;">{{ post.title }}</span>
            <div style="color: black; font-size: 1.5em;">
                {% autoescape off %}
                {{ post.content }}
                {% endautoescape %}
            </div>
        </div>
    </div>

    <div class="well clearfix">
        <div class="vmaig-comment" style="margin-bottom: 15%;">
            <div class="vmaig-comment-edit clearfix">
                <form id="vmaig-comment-form" method="post" role="form">
                    {% csrf_token %}
                    <textarea id="comment2" name="comment" class="form-control" rows="4" style="width: 75%; border-radius: 1em; padding: 1%; margin-left: 10%; margin-right: 10%;" placeholder="在这里留下你的评论吧！"></textarea><br/>
                    <button type="submit" class="btn btn-vmaig-comments pull-right" style="display: block; margin: auto; background-color: white; color: black; border: 2px solid #ccc; border-radius: 1em;">提&nbsp;交</button>
                </form>
            </div>
        </div>

        <ul>
            {% for comment in comment_list %}
            <li>
                <div class="comment clearfix">
                    <div class="avatar_comment" style="background-color: white; height: 10em; width: 8em;">
                        {% if comment.author.avatar %}
                            <img src="{{ comment.author.avatar }}" width="40"></img><br>
                        {% else %}
                            <img src="http://vmaig.qiniudn.com/image/tx/tx-default.jpg" width="40"></img><br>
                        {% endif %}
                        <div style="font-size: 100%; color:black;">{{ comment.author.username }}</div>
                        <div style="font-size: 75%; color:gray;">积分：{{ comment.author.levels }}</div>
                    </div>
                    <div class="content_comment" style="margin-left: 2%; border-radius: 1em; padding: 1%; margin-bottom: 2%;">
                        <p>{% if comment.comment_parent %}回复{{ comment.comment_parent.author }} 发表于{{ comment.comment_parent.created_at|date:"Y-m-d H:i:s" }}的内容《{{ comment.comment_parent.content }}》; {% endif %}{{ comment.created_at|date:"Y-m-d H:i:s" }}</p>
                        <p style="font-size:small; color: black;">
                            {% autoescape on %}
                            {{ comment.content }}
                            {% endautoescape %}
                        </p>
                    </div>
                    <div class="floor">
                        <a href="javascript:showDivFun({{ comment.pk }})" style="color: grey; font-style: italic;">评论</a>
                    </div>
                </div><br/>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
